body{margin:0;
     padding:0;}

.container{
    font-size: 3rem;
    text-align: center;
    color:white;

}

header{
    background-color: green;
}
main{
    background-color: gray;
    display:flex;
    height:70vh;
}
footer{
    background-color: blue;
}
.content{
    background-color:brown;
    flex-grow:2;

}
aside{
    background-color: greenyellow;
    flex-grow: 1;
}

/*****VERSION MOBILE******/

@media screen and (max-width:600px) {
    main{
        flex-direction: column;
    }
    
}